{% extends 'sm/base.html'%}

{% block content %}
<br>
<div id="chirp">

</div>
<div class="row d-none mb-4">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="post_create_form"method="POST" action="/create-post/">
            {% csrf_token%}
            <input type="hidden" value="/" name="next"/>
            <textarea required class="form-control" name="content" placeholder="Your Post..."></textarea>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>

<div class="row d-none">

</div>

<script>

    function likeBtn(post){
        return "<button class='btn btn-primary' onclick=handlePostAction("+
         post.id+","+post.likes+",'like')>"+post.likes+" Likes</button>"

    }
    function unlikeBtn(post){
        return "<button class='btn btn-secondary' onclick=handlePostAction("+
         post.id+","+post.likes+",'unlike')>"+" Unlike</button>"

    }
    function repostBtn(post){
        return "<button class='btn btn-success' onclick=handlePostAction("+
         post.id+","+post.likes+",'repost')>"+" Repost</button>"

    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function handlePostAction(post_id,currentCount,action){
        console.log(post_id,currentCount)

        const url ="/api/posts/action"
        const method = "POST"
        const data = JSON.stringify({
            id: post_id,
            action: action
        })
        const xhr = new XMLHttpRequest()
        xhr.open(method,url)
        const csrftoken = getCookie('csrftoken');

        xhr.setRequestHeader("Content-Type","application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XmlHttpRequest")
        xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken",csrftoken)
        xhr.onload = function(){
            loadPosts(postsContainerEl)
        }
        xhr.send(data)
        return 
    }
    function formatPostEl(post){
        var apost = "<div class = 'mb-4 post'id ="+post.id+">"+"<p>"+post.content+
            "</p>"
            +"<div class='btn-group'>"
            +likeBtn(post)
            +unlikeBtn(post)    
            +repostBtn(post)    
            
            +"</div>"

            +"</div>"

        return apost

    }
    function PostFormDidSubmit(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        xhr.open(method,url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XmlHttpRequest")
        xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
        xhr.onload = function(){
            if(xhr.status === 201){
            const newPost = xhr.response
            const newPostJson = JSON.parse(newPost)
            const newPostEl = formatPostEl(newPostJson)
            const old = postsContainerEl.innerHTML
            postsContainerEl.innerHTML = newPostEl + old
            myForm.reset()
            }else if(xhr.status === 400){
                const errorJson = xhr.response
                console.log(errorJson)
            }else if(xhr.status === 500){
                    alert('Server Error')
            }else if(xhr.status === 401){
                    alert('Login Required!')
                    window.location.href = "/login"
            }else if(xhr.status === 403){
                    alert('Login Required!')
                    window.location.href = "/login"
            }
            
            //loadPosts(postsEl)
        }
        xhr.onerror = function(){
            alert('Error')
        }
        xhr.send(myFormData)

    }
    var createPostForm = document.getElementById("post_create_form")
    createPostForm.addEventListener("submit",PostFormDidSubmit)

    var postsContainerEl = document.getElementById("posts")

    function loadPosts(postsEl){
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/posts'
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method,url)
        xhr.onload = function(){
            const serverResponse = xhr.response
            var listedItems = serverResponse
            var postsStr  = ''
            for(foo=0;foo<listedItems.length;foo++){
                postsStr+= formatPostEl(listedItems[foo])
            }
            postsEl.innerHTML = postsStr

        }
        xhr.send()
    }

    loadPosts(postsContainerEl)


</script>
{% endblock content%}
